@model Library.Models.ListBooks

<div id="books">
    <h2>Catalog of books</h2>
    <div id="books-table">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model.Books)
                {
                <tr class="book">
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>
                        <a class="btn btn-sm btn-primary" role="button" asp-controller="Books" asp-action="Detail" asp-route-id="@book.ID">Details</a>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-info" role="button" asp-controller="Books" asp-action="Edit" asp-route-id="@book.ID">Edit</a>
                    </td>
                    <td>
                        <a style="color: red; font-size: 20px" role="button" asp-controller="Books" asp-action="Remove" asp-route-id="@book.ID">X</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
